@media screen and (max-width:1024px) {
    .right-nav-icons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        right: 100px;
        top: 7px;
    }
}
.nav-link{
    color: black;
    border-bottom: solid 2px transparent;
}
.nav-link:hover{
    color: #512fcd;
    border-bottom: solid 2px #512fcd;
}
.right-nav-icons .nav-link{
    color: black;
    border-bottom: solid 0px;
}
.right-nav-icons .nav-link:hover{
    color: black;
    border-bottom: solid 2px;
}
.image{
    transition: ease-in-out;
    opacity: 0.5;
}
.image:hover{
    transition: ease-in-out;
    opacity: 1.0;
}
.content-img-captions{
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(-50%);
    text-align: left;
}
.content-img-captions h1{
    font-size: 1.6rem;
    color: black;
}
.content-img-captions h5 a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}
.content-img-captions h5 a:hover{
    text-decoration: underline;
}
.content-img-captions h5 i{
    color: black;
}
.box-shadow:hover{
    box-shadow: 1px 1px 4px 2px rgb(0,0,0, 0.1);
}
.box-link{
    cursor: pointer;
}
.box-padding{
    height: 30%;
}
.footer{
    color: white;
}